/** @format */

.hero .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.hero .btn-container {
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.hero .btn-container .btn-style {
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.hero .img-container {
  width: 100%;
  display: flex;
}

.hero img {
  max-width: 80%;
  margin: auto;
}

@media screen and (max-width: 940px) {
  .hero .container {
    grid-template-columns: 1fr;
    margin: 1rem 0;
  }
}
